* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #c0ffee;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  font-size: 3rem;
  padding-top: 200px;
}
